:root{
  user-select: none;
}

html,
body {
  height: 100%;
}

.main {
  display: flex;
  padding: 50px 0;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  &>.logo {
    width: 70%;
    max-width: 500px;
    margin-top: 10vh;

    &.mobile {
      width: 6rem;
      height: 6rem;
    }
  }

  &>span {
    font-size: 1.5rem;
  }
}

.buttons {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  align-items: center;
  justify-items: stretch;
  gap: 10px;

  &>.btn {
    height: 3.5rem;
    width: 3.5rem;
    display: grid;
    place-items: center;
  }

  &>span:nth-child(3n+1) {
    text-align: end;
  }
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;

  &>a {
    color: rgba(255, 255, 255, 0.5)
  }
}


@media (max-aspect-ratio: 2/3) {
  .buttons {
    display: flex;
    flex-direction: column;

    &>span {
      display: none;
    }
  }
}